<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">
                    <form action="/" method="GET">
                        <span data-feather="home"></span>
                        <button input type="submit" class="btn btn-outline-primary">Dashboard</button>
                    </form>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <form action="/order" method="GET">
                        <span data-feather="file"></span>
                        <button input type="submit" class="btn btn-outline-primary">Orders</button>
                    </form>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="javascript:partner_list();">
                    <span data-feather="home"></span>
                    거래처 설정
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:order_list();">
                    <span data-feather="file"></span>
                    주문 목록
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:menu_list();">
                    <span data-feather="shopping-cart"></span>
                    메뉴 목록
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:price_setting();">
                    <span data-feather="users"></span>
                    단가 설정
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                    Reports
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Integrations
                </a>
            </li>
        </ul>

        <h6
                class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>추가 기능</span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="javascript:restaurant_code();">
                    <span data-feather="file-text"></span>
                    식당 이름 설정
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Last quarter
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Social engagement
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span data-feather="file-text"></span>
                    Year-end sale
                </a>
            </li>
        </ul>
    </div>
</nav>