<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>주문자 설정</title>
    {%include 'COMMON/head.html'%}
</head>
<script>
    $(document).ready(function () {
    });

    function userEnroll() {
        let userName = $("#address").val();
        let menu = $("#menu").val();
        let phone = $("#phone").val();
        let address = $("#address").val();

        $.ajax({
            type: 'POST',
            url: '/test/userEnroll',
            data: {"user_give": userName,
                    "menu_give": menu,
                    "phone_give": phone,
                    "address_give": address},
            success: function (response) {
                alert(response['msg']);
                window.location.reload();
            }
        });
    }
</script>
<body>
<div class="order_Info">
    <input type="text" placeholder="USERNAME" id="userName">
    <input type="text" placeholder="MENU" id="menu">
    <input type="text" placeholder="PHONE NUMBER" id="phone">
    <input type="text" placeholder="ADDRESS" id="address">
    <input type="button" value="등록" onclick="javascript:userEnroll();">
</div>
</body>
</html>